// Entry point for your Sass build
@import "./components/hero";
@import "./components/navbar";
@import "./components/about";
@import "./components/projects";
@import "./components/contacts";
@import "./components/education";
@import "./components/skills";